<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">

    <title>Ejemplo login</title>

    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic">

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>

<body class="login">

    <div id="login-container">
        @RenderBody()
    </div>

</body>
</html>

